<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Hrushikesh" #input>
</mat-form-field>
<div class="scroll">
<table mat-table [dataSource]="dataSource"  matSort>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element "> 
        <a routerLink="/update-interview/{{element.id}}">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button></a>
        <button (click)="deleteInterview(element.id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>  
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Id </th>
      <td mat-cell *matCellDef="let element "> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Day </th>
      <td mat-cell *matCellDef="let element"> {{element.day}} </td>
    </ng-container>
  
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Time </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>

    <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Link </th>
        <td mat-cell *matCellDef="let element"> {{element.link}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="candidateid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate Id</th>
        <td mat-cell *matCellDef="let element"> {{element.candidate.id}} </td>
      </ng-container> -->

      <ng-container matColumnDef="candidatename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate Name</th>
        <td mat-cell *matCellDef="let element"> {{element.candidate.name}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="interviewerid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interviewer Id </th>
        <td mat-cell *matCellDef="let element"> {{element.interviewers.id}} </td>
      </ng-container> -->
  
      <ng-container matColumnDef="interviewername">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interviewer Name </th>
        <td mat-cell *matCellDef="let element"> {{element.interviewers.name}} </td>
      </ng-container>
  

      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Result  </th>
        <td mat-cell *matCellDef="let element"> {{element.result}} </td>
      </ng-container>

      <ng-container matColumnDef="creationdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.creationdate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="createdby">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.createdby}} </td>
      </ng-container>

      <ng-container matColumnDef="modificationdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modification Date </th>
        <td mat-cell *matCellDef="let element"> {{element.modificationdate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="modifiedby">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified By </th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedby}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status  </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="13">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[2,4,6,8,10]" aria-label="Select page of interviews"></mat-paginator>
  </div>
  
<!-- <p>leave-list works!</p> -->
<!-- <h2>Interview List</h2>
<div class="container" style="background-color: skyblue">
<div class="course-container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">All Interviews</h3>
          </div>
        </div>
      </div>

    <div class="card-body">    
    <table class ="table table-striped" border="1">
        <thead>
            <tr>
                <th>Interview_Id</th>
                <th>interview_Date</th>
                <th>interview_Day</th>
                <th>interview_time</th>
                <th>result</th>
                <th>creation_date</th>
                <th>created_by</th>
                <th>modification_date</th>
                <th>modified_by</th>
                <th>status</th>
                <th>candidate_id</th>
                <th>interviewer_id</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let interview of interviews">
                <td> {{interview.id}}</td>
                <td> {{interview.date}}</td>
                <td> {{interview.day}}</td>
                <td> {{interview.time}}</td>
                <td> {{interview.result}}</td>
                <td> {{interview.creationdate}}</td>
                <td> {{interview.createdby}}</td>
                <td> {{interview.modificationdate}}</td>
                <td> {{interview.modifiedby}}</td>
                <td> {{interview.status}}</td>
                <td>{{interview.candidate.id}}</td>
                <td>{{interview.interviewers.id}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</div>
</div> -->
